.myList{
  text-align: center;
}

.myList-title{
  color: white;
}

input{
  width: 400px;
  height: 20px;
  padding:10px;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 0.8px #0c1d2e;
  margin-top: 10px;
  margin-bottom: 4px;
  margin-right: 10px;
}

.myList-title {
  color: rgb(255, 201, 54);
  margin-top: 20px;
  margin-bottom: 20px;
}

.my_row__header {
  color: white;
  padding-bottom: 10px;
}

.refresh-btn {
  position: relative;
  top: 20px;
}