/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body,
html,
#root,
.container .app {
  width: 100%;
  height: 100%;
  background-color: #111;
}



/* App.js Begin */
.app {
  min-height: 100%;
}
/* App.js end */



/* Navbar.js Begin */
.NavbarItems{
  background: linear-gradient(90deg, rgb(17, 17, 17), rgba(0, 0, 0, 1) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.nav__logo {
  width: 130px;
  object-fit: contain;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.fa-bars{
  color: white;
}

.fa-times{
  color: white;
}

.nav-menu{
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links{
  color: white;
  text-decoration: none;
  padding: .5rem 1rem;
}
.nav-links:hover{
  background-color: #ffc836;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.nav-links-mobile{
  display: none;
}

.menu-icon{
  display: none;
}

@media screen and (max-width: 820px){
  .NavbarItems{
    position: relative;
  }

  .nav-menu{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all .5s ease;
    justify-content: center;
  }

  .nav-menu.active{
    background:  #ffc836;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links{
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover{
    background-color:  grey;
    border-radius: 0;
  }

  .nav-bar-logo{
    position: absolute;
    top: 0;
    left:0;
    transform: translate(25%, 50%);
  }

  .menu-icon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-items{
    color: white;
    font-size: 2rem;
  }

  .nav-links-mobile{
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #111;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover{
      background: white;
      color: #ffc836;
      transition: 250ms;
  }

  #logout-btn{
    display: none;
  }
}
/* Navbar.js End */



/* Home.js Begin*/
.home-blurb{
  color: white;
  text-align: center;
}
.home-title{
  color: #ffc836;
}
.home-email{
  color: #ffc836;
}
/* Home.js End */



/* Banner.js Begin */
.banner {
  color: white;
  object-fit: contain;
  height: 448px;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  font-family: "Impact", Charcoal, sans-serif;
}

.banner__description {
  position: relative;
  top: 70px;
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  font-size: 1.0rem;
  max-width: 400px;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
  color: black;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
/* Banner.js End */



/* Rows.js Begin */
.row {
  color: white;
  margin-left: 20px;
  position: relative;
  top: 15px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}
.my_row__poster {
  object-fit: contain;
  width: 150px;
  transition: transform 450ms;
  padding-bottom: 10px;
} 

.my_row__poster:hover {
  transform: scale(1.1);
}
.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}

.row__modal {
  color: black;
}

.modal-header {
  background-color: rgb(10, 10, 10);
  color: white;
  font-size: 25px;
}

.modal-body {
  background-color: rgb(15, 15, 15);
  color: white;
}

.modal-footer {
  background-color: rgb(10, 10, 10);
  color: white;
}

.modal-content {
  border-color: yellow;
}

.modal-img {
  width: 150px;
}
/* Rows.js End */



/* CONTENT Begin */
.content{
  padding-bottom: 80px;
}
/* CONTENT End */



/* LOGIN SUBFOLDER BEGIN */
.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background-color: #111;
  color: #fff;
  display: flex;
}

.loginHeader{
  text-align: center;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(255, 200, 54, 1) 0%,
    rgba(250, 160, 75, .9) 59%,
    rgba(230, 190, 80, .9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: #111;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: blue;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}
/* LOGIN SUBFOLDER END */



/* MyList.js Begin */
.myList{
  text-align: center;
}

.myList-title{
  color: white;
}

input{
  width: 400px;
  height: 20px;
  padding:10px;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 0.8px #0c1d2e;
  margin-top: 10px;
  margin-bottom: 4px;
  margin-right: 10px;
}

.myList-title {
  color: rgb(255, 201, 54);
  margin-top: 20px;
  margin-bottom: 20px;
}

.my_row__header {
  color: white;
  padding-bottom: 10px;
}

.refresh-btn {
  position: relative;
  top: 20px;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
/* MyList.js End */



/* SEARCH SUBFOLDER BEGIN*/
.search{
  text-align: center;
  padding-bottom: 20px;
}

.search-section-title{
  color: rgb(255, 201, 54);
  margin-top: 20px;
  margin-bottom: 20px;
}

.searchbox-wrap{
  justify-self: center;
  position: relative;
  bottom: 20px;
}

.searchbox{
  background: rgb(255, 201, 54);
  padding: 20px;
  font-size: larger;
  font-weight: 300;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  border: none;
  outline: none;
  transition: 0.4s ease-out;
}

::placeholder {
  color: black;
  opacity: 1;
}

.result {

  text-align: center;
}

.hr {
  border-top: 1px solid rgb(255, 200, 54);
}

.search-movies{
  width: 175px;
  color: white;
}

.search-overview-text{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
/* SEARCH SUBFOLDER END*/



/* Users.js Begin */
.user{
  color: white;
  text-align: center;
}
/* Users.js End */



/* Footer.js Begin */
.footer {
  color: white;
  font-size: 14px;
  font-weight: bolder;
  background-color:rgba(19, 18, 18, 0.842);
  padding: 10px;
  position: fixed;
  text-align: center;
  left:0;
  bottom: 0;
  right:0;
}
/* Footer.js End */

/* User.js Begin */
.user-box {
  text-align: center;
  color: white;
}

.user-header {
  padding-bottom: 30px;
}
.inline-text_copy--active,
.inline-text_input--active {
  font: inherit;
  color: inherit;
  text-align: inherit;
  padding: 0;
  background: none;
  border: none;
  border-bottom: 1px dashed #999999;
  outline: none;
}

.inline-text_copy--active {
  cursor: pointer;
}

.inline-text_copy--hidden,
.inline-text_input--hidden {
  display: none;
}

.inline-text_input--active {
  border-bottom: 1px solid #666666;
  text-align: left;
}
/* User.js End */