body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* App.js Begin */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body,
html,
#root,
.container .app {
  width: 100%;
  height: 100%;
  background-color: #111;
}

.app {
  background-color: #111;
  min-height: 100%;
}
/* App.js end */



/* SEARCH SUBFOLDER BEGIN*/
.searchbox{
  display: block;
  background: rgb(255, 200, 54);
  padding: 20px;
  font-size: larger;
  font-weight: 300;
  color: grey;
  margin-top: 20px;
  border: none;
  outline: none;
  transition: 0.4s ease-out;
}

/* SEARCH SUBFOLDER END*/